{% extends 'base.html.twig' %}

{% block body %}

    <h4>Listes des utilisateurs</h4>

    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}